# Compiler files
cache/
out/

# Ignores development broadcast logs
/broadcast
/broadcast/**/31337/
/broadcast/**/11155111/  # Sepolia testnet
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
.env.*

# Dependencies (use forge install, don't commit)
lib/osx
